<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.select">

    //Permissão de uso de câmera
    <uses-feature android:name="android.hardware.camera"
        android:required="true"
        />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18"/>

    //Permissão de uso de internet
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Select">

        <activity
            android:name=".AdicionarEndereco_Activity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".AlterarSenha_Activity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".Cadastro_Activity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".Conclusao_Activity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ConfirmarFoto_Activity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity android:name=".EditarPerfil_Activity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".Foto_Activity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".Main_Activity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".Perfil_Activity"
            android:screenOrientation="portrait"
            android:exported="false" />


        <activity
            android:name=".SolicitarRetirada_Activity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".Login_Activity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        // Provedor de conteúdo do tipo arquivo
        <provider
            android:authorities="com.example.select.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"> // Localização dos arquivos
            </meta-data>

        </provider>

    </application>

</manifest>